@mixin borders($left-top, $right-bottom) {
  border-bottom-color: $right-bottom;
  border-left-color: $left-top;
  border-right-color: $right-bottom;
  border-top-color: $left-top;
  border-style: solid;
  border-width: 4px;
}
